* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	font-family: monospace;
	background-color: lightskyblue;
	min-width: 680px;
}

#root {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1.5rem;
}

#header {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto 1rem auto;

	text-align: left;
	margin-bottom: 1rem;
	font-size: 2rem;
}

#main {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#container {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;

	background: aliceblue;
	padding: 0.5rem;
	border-radius: 6px;

	font-size: 1.3rem;

	border: 2px solid #333;
	box-shadow: 30px 30px 0 rgba(0, 0, 0, 0.15);
}

table {
	table-layout: fixed;
	width: 100%;
}

.col-name {
	width: 25%;
}

.col-value {
	width: 25%;
	text-align: right;
}

th,
td {
	padding: 0.5rem 1rem;
}

th {
	text-align: right;
	font-weight: normal;
}

th svg {
	width: 1.1rem;
	height: 1.1rem;
	display: inline-block;
	text-align: right;
	transform:translateX(-1em);

}


td {
	text-align: right;
}

td:first-child {
	text-align: left;
}

#credits {
	margin-top: auto;
	text-align: center;
	font-size: 0.8rem;
	color: darkslategrey;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}