* {
	box-sizing: border-box;
}

body {
	font-family: monospace;
	background-color: skyblue;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-bottom: 1rem;	
}

#table-wrapper {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}

table {
	table-layout: fixed;
	width: 100%;
}

.col-name {
	width: 25%;
}

.col-value {
	width: 25%;
	text-align: center;
}

th, td {
	padding: 0.5rem 1rem;
}

#credits {
	color: darkslategrey;
	margin-top: auto;
	text-align: center;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}